<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container align-center">
    <div class="card p-4">
        <img class="profile-image" src="assets/profile.jpg" alt="Profile Image">
        <p class="about-me">Je m'appelle Abdellah Agnaou, développeur web passionné avec une expertise en création de sites et d'applications interactives. Mon parcours inclut une maîtrise des technologies front-end et back-end, avec un fort accent sur la performance, l'accessibilité et une expérience utilisateur optimale.</p>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
              <h5 class="mb-3">Contact Information</h5>
              <p class="mb-1"><i class="fas fa-user"></i> Abdellah Agnaou</p>
              <p class="mb-1"><i class="fas fa-envelope"></i> abdellahagnaou29062001@gmail.com</p>
              <p class="mb-1"><i class="fas fa-phone"></i> 0637451036</p>
              <p class="mb-1"><i class="fas fa-map-marker-alt"></i> Rabat</p>
          </div>
          <div class="col-lg-6">
              <h5 class="mb-3">Follow Me</h5>
              <a href="https://www.linkedin.com/in/abdellahagnaou" class="text-white me-4" target="_blank">
                  <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/abdellahagnaou" class="text-white me-4" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
              </a>
              <a href="https://twitter.com/abdellahagnaou" class="text-white me-4" target="_blank">
                  <i class="fab fa-twitter fa-2x"></i>
              </a>
          </div>
      </div>
  </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
